[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/seniorivn
[access "refs/for/refs/*"]
	read = group user/seniorivn
	push = group user/seniorivn
	label-Code-Review = -2..+2 group user/seniorivn
	label-Verified = -1..+1 group user/seniorivn
	rebase = group user/seniorivn
	removeReviewer = group user/seniorivn
	submit = group user/seniorivn
[access "refs/heads/*"]
	read = group user/seniorivn
	create = group user/seniorivn
	push = +force group user/seniorivn
	pushMerge = group user/seniorivn
[access "refs/tags/*"]
	push = +force group user/seniorivn
	pushTag = group user/seniorivn
	pushSignedTag = group user/seniorivn
